parameters:
	tmpDir: %currentWorkingDirectory%/temp/phpstan/
	autoload_directories:
		 - %currentWorkingDirectory%/src/
#		 - %currentWorkingDirectory%/tests/

	paths:
		- %currentWorkingDirectory%/src/
#		- %currentWorkingDirectory%/tests/

	level: 7

	checkMissingIterableValueType: false
